# Backend
DATABASE_URL=
REDIS_URL=
JWT_SECRET=

# Object Storage
STORAGE_BUCKET=

# Firebase
FIREBASE_PROJECT_ID=

# Financial Providers
FINANCIAL_PROVIDER_CLIENT_ID=
FINANCIAL_PROVIDER_CLIENT_SECRET=